h1{
    color: white;
    font-size: 30px;
    text-align: center;
    background-color:purple;
}
h3{
    color: purple;
    font-size: 20px;
    text-align: left;
    background-color: rgb(247, 163, 9);
}
h2{
    color: black;
}



